

<div class="container py-5">
    <div style="margin-top:100px">
             <p style="color:white">
                 Arsenal receive Myles Lewis-Skelly referee red card appeal verdict after 'major' Michael Oliver error

             </p>
         </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      
      <div class="card shadow">
        <div class="card-body">
          <!-- Form Heading -->
          <h5 class="card-title text-center mb-3">
        
              Open an Account with Market Picks.
                <!-- Display success message -->
    <% if (success_msg.length > 0) { %>
        <div class="alert alert-success">
            <%= success_msg %>
        </div>
    <% } %>

    <!-- Display error message -->
    <% if (error_msg.length > 0) { %>
        <div class="alert alert-danger">
            <%= error_msg %>
        </div>
    <% } %>
              
          </h5>

          <!-- Form -->
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control shadow-sm"
                id="email"
                name="email"
                required
                placeholder="Enter your email"
              >
            </div>
            
              
            
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control shadow-sm"
                id="password"
                name="password"
                required
                placeholder="Enter your password"
              >
            </div>

            <!-- Google Sign-in Button -->
       <button class="btn btn-success w-100 shadow-sm" id="submitBtn" type="submit">
                Sign in
              </button>
          
               <p>Don't have an account?
              <a href="/register">Sign up</a>
              </p>
<p>Forgotten your password?
              <a href="/reset-password">Click here</a>
              </p>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

